<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hismart.document.modules.system.mapper.SinkRoleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hismart.document.modules.system.entity.SinkRole">
                <id column="ROLE_ID" property="roleId" />
                <result column="ROLE_NAME" property="roleName" />
                <result column="REMARK" property="remark" />
                <result column="CREATE_TIME" property="createTime" />
                <result column="MODIFY_TIME" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ROLE_ID, ROLE_NAME, REMARK, CREATE_TIME, MODIFY_TIME
    </sql>

    <select id="getSinkRoleSqlPageList" parameterType="com.hismart.document.modules.system.entity.SinkRole" resultMap="BaseResultMap">
        select  * from sink_role
    </select>

    <select id="findUserRole" resultMap="BaseResultMap">
        select r.*
        from sink_role r
                 left join sink_user_role ur on (r.role_id = ur.role_id)
                 left join sink_user u on (u.user_id = ur.user_id)
        where u.username = #{userName}
    </select>


</mapper>
