<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hismart.document.modules.administration.mapper.TCampusMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hismart.document.modules.administration.entity.TCampus">
            <result column="id" property="id" />
                <result column="campus_name" property="campusName" />
                <result column="place" property="place" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id,
        campus_name, place
    </sql>

    <select id="getTCampusSqlPageList"  parameterType="com.hismart.document.modules.administration.entity.TCampus" resultMap="BaseResultMap">
        select  * from t_campus
    </select>

</mapper>
