<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hismart.document.modules.administration.mapper.TVideoInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hismart.document.modules.administration.entity.TVideoInfo">
            <result column="id" property="id" />
                <result column="path" property="path" />
                <result column="ext" property="ext" />
                <result column="size" property="size" />
                <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id,
        path, ext, size, name
    </sql>

    <select id="getTVideoInfoSqlPageList"  parameterType="com.hismart.document.modules.administration.entity.TVideoInfo" resultMap="BaseResultMap">
        select  * from t_video_info
    </select>

</mapper>
