<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hismart.document.modules.administration.mapper.TVideoConfigMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hismart.document.modules.administration.entity.TVideoConfig">
            <result column="id" property="id" />
                <result column="compose_video_number_one" property="composeVideoNumberOne" />
                <result column="compose_validity_time_one" property="composeValidityTimeOne" />
                <result column="compose_video_price_one" property="composeVideoPriceOne" />
                <result column="compose_video_number_two" property="composeVideoNumberTwo" />
                <result column="compose_validity_time_two" property="composeValidityTimeTwo" />
                <result column="compose_video_price_two" property="composeVideoPriceTwo" />
                <result column="compose_video_number_three" property="composeVideoNumberThree" />
                <result column="compose_validity_time_three" property="composeValidityTimeThree" />
                <result column="compose_video_price_three" property="composeVideoPriceThree" />
                <result column="single_video_price" property="singleVideoPrice" />
                <result column="single_validity_time" property="singleValidityTime" />
                <result column="work_modify_number_one" property="workModifyNumberOne" />
                <result column="work_modify_price_one" property="workModifyPriceOne" />
                <result column="work_modify_number_two" property="workModifyNumberTwo" />
                <result column="work_modify_price_two" property="workModifyPriceTwo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id,
        compose_video_number_one, compose_validity_time_one, compose_video_price_one, compose_video_number_two, compose_validity_time_two, compose_video_price_two, compose_video_number_three, compose_validity_time_three, compose_video_price_three, single_video_price, single_validity_time, work_modify_number_one, work_modify_price_one, work_modify_number_two, work_modify_price_two
    </sql>

    <select id="getTVideoConfigSqlPageList"  parameterType="com.hismart.document.modules.administration.entity.TVideoConfig" resultMap="BaseResultMap">
        select  * from t_video_config
    </select>

</mapper>
